<link href="/assets/messages.css" rel="stylesheet">

<div id="readMessage">
<h3>Message</h3>
<h4> Subject : <%= @message.subject%> </h4>
<h4> From : <%= @message.sender%> </h4>
<h4> Date : <%= @message.created_at%> </h4>

<table class = "table">
  <tr> <td>
    <p><%= @message.body %></p>

   </td> <tr>
</table>


<%= link_to 'Back', user_messages_path(current_user) %>
<%= link_to 'Reply', new_user_message_path%>

</div>