<h1> All current users</h1>

<%= form_tag users_path, :method => 'GET' do %>
	<%= text_field_tag 'q', params[:q] %>
	<%= submit_tag 'SEARCH' %>
<% end %>



<ul>

	<% @users.each do |u| %>
		<li>
			<%= link_to u.name, "user/#{u.id}" %> 

		<!-- </li><br> -->

<!-- vvvvvvvvvvvvvvvv If does not work delete vvvvvvvvvvvvvvvvvvvv -->

			<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  			View <%= u.name %> profile
			</button>
		</li>
		<br>

	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel"> Model title </h4>
		      </div>
		      <div class="modal-body">
		      	 <%= counter %> 
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
	

<!-- ^^^^^^^^^^^^^^ If does not work delete ^^^^^^^^^^^^^^^^^^^^ -->


	<% end %>

</ul>



