<div class="allpagebackground">
<h1>&nbsp Welcome, <%= current_user.name %> </h1>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="/assets/thumblogo.png" id = "rommiez_logo">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        
      </ul>
      <ul class="nav navbar-nav" id="myScrollspy" >
        <% if current_user.landlord %>
        <li class="currentpage"><%= link_to 'Home', user_path(current_user)%></li>
        <li> <%= link_to 'My Apartments', user_apartments_path(current_user)%></li>
        <li> <%= link_to 'Add Apartment', new_apartment_path %> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Inbox</a></li>
            <li><a href="#">Create Message</a></li>
            
            <li class="divider"></li>
            <li><a href="#">Trash</a></li>
            
            <% else %>
            <li class="currentpage"> <%= link_to 'Home', user_path(current_user)%></li>
            <li><%= link_to "Find Apartments", apartments_path%></li>
            <li><%= link_to "Find Roommates", users_path%></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Create Message</a></li>
                
                <li class="divider"></li>
                <li><a href="#">Trash</a></li>
                
              </ul>
            </li>
          </ul>
          
          
        </li>
      </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <% end %>

<div class="jumbotron">
  <h1>Welcome to Roomiez!</h1>
  <% if current_user.landlord == false %>
  <p>Roomiez allows you to find and connect with roommates looking to live in the same location. Once you have joined a circle together, you and your roommate can embark on the apartment hunt together, ensuring that you live where you want, with the people you want to live with! Select "Find Roommates" above to get started. </p>
  <a class="btn btn-primary btn-lg" role="button">Learn more</a>
  <% else %>
  <p>As a landlord, Roomiez allows you to efficiently manage all of your apartments on a single platform. Seemlessly toggle through your various circles to collect rent payment online, manage maintenance requests, and easily interact with your tenants. 
  </p>
  <a class="btn btn-primary btn-lg" role="button">Learn more</a>
</div>
</div>
<% end %>
