<h1>Welcome <%= @user.name %> </h1>



<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>


<% if current_user.landlord %>
	<%= "Welcome landlord!" %>
	<%= link_to 'Add Apartment', new_apartment_path %>
	<%= link_to 'See My Apartments', user_apartments_path(current_user) %>

<% else %>
	<%= link_to "Find Apartments", apartments_path%>
	<%= link_to "Find Roommates", users_path%>
	<%= link_to "See my circle", user_circle_path(current_user, current_user.circles.first.id) %>

<% end %>	