<h1>Welcome <%= @user.name %> </h1>



<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>


<% if current_user.landlord %>
	<%= "Welcome landlord!" %>
	<%= link_to 'Add Apartment', new_apartment_path %>
	<%= link_to 'See my apartments', apartment_path %>

<% else %>
	<%= link_to "Find Apartments", apartments_path%>
<% end %>	