<h1> <%= @apartment.name %> </h1>



<div>
	<%= image_tag @apartment.photo.url(:medium) %>	
</div>

<div>
	<ul>
		<li><%= @apartment.street_address %></li>
		<li><%= @apartment.country %></li>
		<li><%= @apartment.zipcode %></li>
		<li><% if @apartment.occupied %>
			The apartment is currently occupied
		<% else %>
			The apartment is currently available
		<% end %>
		</li>
	</ul>
</div>

<%= link_to 'Back', user_apartments_path(current_user) %>
